<div class="constellate-dashboard-info">
    <h2>Manager: {{manager}}</h2>
    <h3>Assigned Staff: {{staffcount}}</h3>
    <h3>Assigned Courses: {{coursetotal}}</h3>
</div>
<img class="constellate-logo" src='{{logourl}}' />
<hr>
<br>
<div class="constellate-chart-container">
    <div id="ChartPercentage" class="chart-percentage-label"></div>
    <canvas id="PercentageChart"></canvas>
</div>
<div class="constellate-chart-container">
    <canvas id="UserChart"></canvas>
</div>
<div class="constellate-chart-container-wide">
    <canvas id="DateChart"></canvas>
</div>