# Ignore everything
.gitignore

# But not these files...
!README.md
!.gitignore
!*moodle
!*moodle/blocks
!*moodle/blocks/ezee_constellate
!*moodle/blocks/ezee_constellate/**
!*ezee_constellate
!*ezee_constellate/**