# Ignore everything
*

# But not these files...
!README.md
!.gitignore
!*blocks
!*blocks/ezee_report
!*blocks/ezee_report/**
!*blocks/ezee_staff
!*blocks/ezee_staff/**
!*local
!*local/message
!*local/message/**