/* Button */
.btn-constellate {
    background-color: #241168 !important;
    border-color: #241168 !important;
    color: #fff !important;
}


/* Table */
.constellate-staff-list {
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #57c5d7;
    width:100%;
    table-layout: fixed;
}
.constellate-staff-list tr:hover {
    background: #f4f4f4;
}
.constellate-staff-list tr:hover td {
    color: #555;
}
.constellate-staff-list th, .constellate-staff-list td {
    color: #797979;
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: .625em;
}
.constellate-staff-list th {
    background: #57c5d7;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.constellate-staff-list th.last {
    border-right: none;
}

.constellate-staff-list .center-value {
    text-align: center;
}

@media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .constellate-staff-list .center-value {
        text-align: right;
    }

  }