<h2 class="constellate-manager-name">Manager: {{manager}}</h2>
<div class="constellate-dashboard-panel-container">
    <div class="constellate-dashboard-panel constellate-color1">
        <i class="fa fa-users"></i>
        <div>
            <span class="constellate-panel-number">{{staffcount}}</span>
            <span class="constellate-panel-text">Assigned Staff</span>
        </div>
    </div>
    <div class="constellate-dashboard-panel constellate-color2">
        <i class="fa fa-graduation-cap"></i>
        <div>
            <span class="constellate-panel-number">{{coursetotal}}</span>
            <span class="constellate-panel-text">Assigned Courses</span>
        </div>
    </div>
    <div class="constellate-dashboard-panel constellate-color3">
        <i class="fa fa-th-list"></i>
        <div>
            <span class="constellate-panel-number">{{learningplans}}</span>
            <span class="constellate-panel-text">Learning Plans</span>
        </div>
    </div>
</div>
<!-- <img class="constellate-logo" src='{{logourl}}' style="display:none" /> -->

<hr class="constellate-separator">

<div class="constellate-chart-container pie">
    <div id="ChartPercentage" class="chart-percentage-label"></div>
    <canvas id="PercentageChart"></canvas>
</div>
<div class="constellate-chart-container bar">
    <canvas id="CourseChart"></canvas>
</div>

<hr class="constellate-separator">

<div id="constellate-activity-chart" class="constellate-chart-container-wide {{graphdisplay}}">
    <canvas id="DateChart"></canvas>
</div>