<div class="constellate-disabled">
    <h2 class="constellate-manager-name">Manager: {{manager}}</h2>
    <div class="constellate-dashboard-panel-container">
        <div class="constellate-dashboard-panel constellate-color1">
            <i class="fa fa-users"></i>
            <div>
                <span class="constellate-panel-number">0</span>
                <span class="constellate-panel-text">Assigned Staff</span>
            </div>
        </div>
        <div class="constellate-dashboard-panel constellate-color2">
            <i class="fa fa-graduation-cap"></i>
            <div>
                <span class="constellate-panel-number">0</span>
                <span class="constellate-panel-text">Assigned Courses</span>
            </div>
        </div>
        <div class="constellate-dashboard-panel constellate-color3">
            <i class="fa fa-th-list"></i>
            <div>
                <span class="constellate-panel-number">0</span>
                <span class="constellate-panel-text">Learning Plans</span>
            </div>
        </div>
    </div>
    
    <hr class="constellate-separator">
</div>

<div style="text-align: center;">
    <a href='//ezeeconstellate.com' target="_blank"><img class="constellate-logo" src='{{logourl}}' /></a>
    <br>
    <h2><a href='//ezeeconstellate.com' target="_blank">Ezee Constellate Dashboard</a></h2> 
    <div>Advanced data reporting platform to provide managers with a more efficient and enjoyable experience while using Moodle LMS.</div>
    <br>
    <div>
        It looks like your free trial or subscription to the Ezee Constellate Dashboard has expired.
        Click <a href='//ezeeconstellate.com/pricing' target="_blank">here</a> to renew and keep up to date with your team.
    </div>
</div>

