<h3>Manager: {{manager}}</h3>
<br>

<table class="constellate-staff-list constellate-matrix-staff-list">
    <tr>
        <th>Name</th>
        {{#tablecourses}}
            <th><a href='{{courseurl}}?id={{id}}' target="_blank">{{coursename}} <i class="fa fa-external-link"></i></a></th>
        {{/tablecourses}}
    </tr>
    {{#tableusers}}
    <tr data-userid="{{id}}">
        <td><a href='{{profileurl}}?id={{id}}' target="_blank">{{firstname}} {{lastname}} <i class="fa fa-external-link"></i></a></td>
        {{#tablecourses}}
            <td class="constellate-matrix-status-cell" data-courseid="{{id}}">
                {{#tablecompletions}}
                    <div data-userid="{{userid}}" data-courseid="{{courseid}}" class="constellate-matrix-status status-{{statuscolour}}" style="display:none"></div>
                {{/tablecompletions}}
            </td>
        {{/tablecourses}}
    </tr>
    {{/tableusers}}
</table>


<script type="text/javascript">
    $('#page-header').hide();

    //Loop each cell
    $('.constellate-matrix-status-cell').each(function() {
        var rowUserId = $(this).closest('tr').attr('data-userid');
        var columnCourseId = $(this).attr('data-courseid');

        //If there is a matching course for the user then set the status
        $(this).find('div[data-courseid="' + columnCourseId + '"][data-userid="' + rowUserId + '"]').addClass('status-show');

        //If no matching course add red status
        if ($(this).find('.status-show').length == 0)
            $(this).append('<div class="constellate-matrix-status status-red status-show"></div>');
    });

    //Show status
    $('.constellate-matrix-status-cell .status-show').show();
    
    //Remove unneccessary elements
    $('.constellate-matrix-status-cell div:not(.status-show)').remove();

    //Add icons
    $('.constellate-matrix-status.status-green').append('<i class="fa fa-check-circle-o"></i>');
    $('.constellate-matrix-status.status-orange').append('<i class="fa fa-clock-o"></i>');
    $('.constellate-matrix-status.status-red').append('<i class="fa fa-exclamation-circle"></i>');
</script>